---
const projectTitle = Astro.props.projectTitle
const projectDescription = Astro.props.projectDescription
const projectLink = Astro.props.projectLink
const githubLink = Astro.props.githubLink
const image = Astro.props.image
import Github from "@assets/icons/github.astro"
import Link from "./Link.astro"
---

<article
  style={{
    backgroundImage: "radial-gradient(circle, #6c6c6c30 0%, transparent 100%)",
  }}
  class="mb-7 flex flex-col-reverse justify-between rounded-lg border border-zinc-700 bg-zinc-900 bg-opacity-40 p-8 shadow-xl md:flex-row"
>
  <div>
    <div class="mb-4 flex justify-between">
      <Link target="_blank" href={projectLink}>
        <h3 class="inline-block text-xl font-semibold">{projectTitle}</h3>
      </Link>
      <a class="transition hover:text-orange" href={githubLink}><Github /></a>
    </div>
    <p class="mb-4 pr-2 text-base text-zinc-400">{projectDescription}</p>
    <div class="flex items-center gap-3 bg-zinc-700 p-2 w-fit">
      <slot />
    </div>
  </div>
  {
    image && (
      <img
        class="mb-5 w-full rounded-lg shadow-xl md:mb-0 md:w-52"
        src={image}
        alt={`${projectTitle} image`}
      />
    )
  }
</article>
