---
import Carousel from "./Carousel.astro"
import Heading from "./Heading.astro"
import IconContainer from "@components/IconContainer.astro"
import Image from "@components/Image.astro"
import SkillIcons from "./SkillIcons.astro"

import Copilot from "@assets/images/copilot.png"
import Cursor from "@assets/images/cursor.png"
import ReactTestingLibrary from "@assets/images/react-testing-library.png"
import Stripe from "@assets/images/stripe.png"
import Typst from "@assets/images/typst.png"

import Appwrite from "@assets/icons/appwrite.svg"
import AstroIcon from "@assets/icons/astro.svg"
import Biome from "@assets/icons/biome.svg"
import Brave from "@assets/icons/brave.svg"
import Bun from "@assets/icons/bun.svg"
import Chatgpt from "@assets/icons/chatgpt.svg"
import Claude from "@assets/icons/claude.svg"
import CloudflarePages from "@assets/icons/cloudflare_pages.svg"
import Convex from "@assets/icons/convex.svg"
import Csharp from "@assets/icons/csharp.svg"
import Css from "@assets/icons/css.svg"
import Cypress from "@assets/icons/cypress.svg"
import Datadog from "@assets/icons/datadog.svg"
import Dbeaver from "@assets/icons/dbeaver.svg"
import Dependabot from "@assets/icons/dependabot.svg"
import Docker from "@assets/icons/docker.svg"
import Electron from "@assets/icons/electron.svg"
import Eleventy from "@assets/icons/eleventy.svg"
import ESLint from "@assets/icons/eslint.astro"
import Expo from "@assets/icons/expo.astro"
import Express from "@assets/icons/express.astro"
import Figma from "@assets/icons/figma.astro"
import Gemini from "@assets/icons/gemini.astro"
import Git from "@assets/icons/git.astro"
import Github from "@assets/icons/github.astro"
import Go from "@assets/icons/go.astro"
import GoogleCloud from "@assets/icons/google_cloud.astro"
import Graphql from "@assets/icons/graphql.astro"
import Heroku from "@assets/icons/heroku.astro"
import Html from "@assets/icons/html.astro"
import Hubspot from "@assets/icons/hubspot.astro"
import Intellij from "@assets/icons/intellij.astro"
import ITerm from "@assets/icons/iterm.astro"
import Java from "@assets/icons/java.astro"
import Javascript from "@assets/icons/javascript.astro"
import Jest from "@assets/icons/jest.astro"
import Miro from "@assets/icons/miro.astro"
import Mysql from "@assets/icons/mysql.astro"
import Netlify from "@assets/icons/netlify.astro"
import Next from "@assets/icons/next.astro"
import Node from "@assets/icons/node.astro"
import Notion from "@assets/icons/notion.astro"
import Npm from "@assets/icons/npm.astro"
import OpenApi from "@assets/icons/openapi.astro"
import Playwright from "@assets/icons/playwright.svg"
import Pnpm from "@assets/icons/pnpm.astro"
import Postgresql from "@assets/icons/postgresql.astro"
import Prettier from "@assets/icons/prettier.astro"
import Python from "@assets/icons/python.astro"
import React from "@assets/icons/react.astro"
import ReactRouter from "@assets/icons/react_router.astro"
import Ruby from "@assets/icons/ruby.astro"
import Rubymine from "@assets/icons/rubymine.astro"
import RubyOnRails from "@assets/icons/ruby_on_rails.astro"
import Sentry from "@assets/icons/sentry.astro"
import Slack from "@assets/icons/slack.astro"
import Swagger from "@assets/icons/swagger.astro"
import Tailwind from "@assets/icons/tailwind.astro"
import Teamcity from "@assets/icons/teamcity.astro"
import Terraform from "@assets/icons/terraform.astro"
import Travis from "@assets/icons/travis.astro"
import Typescript from "@assets/icons/typescript.astro"
import Vercel from "@assets/icons/vercel.astro"
import Vite from "@assets/icons/vite.astro"
import Vscode from "@assets/icons/vscode.astro"
import Yarn from "@assets/icons/yarn.astro"

// Prompts:
// I'd like to split the following tech skills into a maximum of five groups. The group names should be a maximum of three words. Figure out the areas these skills fall into and then split them into the groups. Use all of the skills in the list:
// React, React Native, Javascript, Typescript, HTML, CSS, Tailwind, Astro, Expo, Next.js, React Router, Jest, RTL (React Testing Library), Playwright, Cypress, Swagger, Electron, Eleventy, Typst, Rails, Ruby, Go, C#, Python, Java, PostgreSQL, MySQL, Node, OpenAPI, Express, GraphQL, GitHub + Github Actions, Dependabot, Travis CI, TeamCity, Copilot, ChatGPT, Gemini, Claude, Notion, Figma, Miro, Stripe API, HubSpot API, Slack API, Heroku, Google Cloud, Terraform, Sentry, Datadog, Vercel, Cloudflare Pages, Netlify, Appwrite, Convex, Git, Docker, Cursor, VSCode, IntelliJ, RubyMine, iTerm, DBeaver, Brave, Vite, Bun, pnpm, npm, Yarn, Prettier, ESLint, Biome
---

<SkillIcons id="frontend-skills" heading="Frontend">
  <IconContainer name="React<br>+ Native">
    <React size="size-9" />
  </IconContainer>
  <IconContainer name="Javascript">
    <Javascript size="size-9" />
  </IconContainer>
  <IconContainer name="Typescript">
    <Typescript size="size-9" />
  </IconContainer>
  <IconContainer name="HTML">
    <Html size="size-9" />
  </IconContainer>
  <IconContainer name="CSS">
    <Image class="h-9 w-auto" src={Css} alt="CSS logo" />
  </IconContainer>
  <IconContainer name="Tailwind">
    <Tailwind size="size-9" />
  </IconContainer>
  <IconContainer name="Astro">
    <Image class="h-9 w-auto" src={AstroIcon} alt="Astro logo" />
  </IconContainer>
  <IconContainer name="Expo">
    <Expo size="size-9" />
  </IconContainer>
  <IconContainer name="Next.js">
    <Next size="size-9" />
  </IconContainer>
  <IconContainer name="React Router">
    <ReactRouter size="size-9" />
  </IconContainer>
  <IconContainer name="pnpm">
    <Pnpm size="size-9" />
  </IconContainer>
  <IconContainer name="npm">
    <Npm size="size-9" />
  </IconContainer>
  <IconContainer name="Yarn">
    <Yarn size="size-9" />
  </IconContainer>
  <IconContainer name="Jest">
    <Jest size="size-9" />
  </IconContainer>
  <IconContainer name="RTL" tooltip="React Testing Library">
    <Image
      class="h-9 w-auto"
      src={ReactTestingLibrary}
      alt="React Testing Library logo"
    />
  </IconContainer>
  <IconContainer name="Playwright">
    <Image class="h-9 w-auto" src={Playwright} alt="Playwright logo" />
  </IconContainer>
  <IconContainer name="Cypress">
    <Image class="h-9 w-auto" src={Cypress} alt="Cypress logo" />
  </IconContainer>
  <IconContainer name="Swagger">
    <Swagger size="size-9" />
  </IconContainer>
  <IconContainer name="Electron">
    <Image class="h-9 w-auto" src={Electron} alt="Electron logo" />
  </IconContainer>
  <IconContainer name="Eleventy">
    <Image class="h-9 w-auto" src={Eleventy} alt="Eleventy logo" />
  </IconContainer>
  <IconContainer name="Typst">
    <Image class="h-9 w-auto" src={Typst} alt="Typst logo" />
  </IconContainer>
</SkillIcons>

<SkillIcons id="backend-skills" heading="Backend">
  <IconContainer name="Rails">
    <RubyOnRails size="size-9" />
  </IconContainer>
  <IconContainer name="Ruby">
    <Ruby size="size-9" />
  </IconContainer>
  <IconContainer name="Go">
    <Go size="size-9" />
  </IconContainer>
  <IconContainer name="C#">
    <Image class="h-9 w-auto" src={Csharp} alt="C# logo" />
  </IconContainer>
  <IconContainer name="Python">
    <Python size="size-9" />
  </IconContainer>
  <IconContainer name="Java">
    <Java size="size-9" />
  </IconContainer>
  <IconContainer name="PostgreSQL">
    <Postgresql size="size-9" />
  </IconContainer>
  <IconContainer name="MySQL">
    <Mysql size="size-9" />
  </IconContainer>
  <IconContainer name="Node">
    <Node size="size-9" />
  </IconContainer>
  <IconContainer name="Bun">
    <Image class="h-9 w-auto" src={Bun} alt="Bun logo" />
  </IconContainer>
  <IconContainer name="OpenAPI">
    <OpenApi size="size-9" />
  </IconContainer>
  <IconContainer name="Express">
    <Express size="size-9" />
  </IconContainer>
  <IconContainer name="GraphQL">
    <Graphql size="size-9" />
  </IconContainer>
</SkillIcons>

<SkillIcons id="devops-skills" heading="DevOps">
  <IconContainer name="Heroku">
    <Heroku size="size-9" />
  </IconContainer>
  <IconContainer name="Google<br>Cloud">
    <GoogleCloud size="size-9" />
  </IconContainer>
  <IconContainer name="Terraform">
    <Terraform size="size-9" />
  </IconContainer>
  <IconContainer name="GitHub<br>+ Actions">
    <Github size="size-9" />
  </IconContainer>
  <IconContainer name="Dependabot">
    <Image class="h-9 w-auto" src={Dependabot} alt="Dependabot logo" />
  </IconContainer>
  <IconContainer name="Travis CI">
    <Travis size="size-9" />
  </IconContainer>
  <IconContainer name="TeamCity">
    <Teamcity size="size-9" />
  </IconContainer>
  <IconContainer name="Vercel">
    <Vercel size="size-9" />
  </IconContainer>
  <IconContainer name="Cloudflare<br>Pages">
    <Image
      class="h-9 w-auto"
      src={CloudflarePages}
      alt="Cloudflare Pages logo"
    />
  </IconContainer>
  <IconContainer name="Netlify">
    <Netlify size="size-9" />
  </IconContainer>
  <IconContainer name="Appwrite">
    <Image class="h-9 w-auto" src={Appwrite} alt="Appwrite logo" />
  </IconContainer>
  <IconContainer name="Convex">
    <Image class="h-9 w-auto" src={Convex} alt="Convex logo" />
  </IconContainer>
  <IconContainer name="Sentry">
    <Sentry size="size-9" />
  </IconContainer>
  <IconContainer name="Datadog">
    <Image class="h-9 w-auto" src={Datadog} alt="Datadog logo" />
  </IconContainer>
</SkillIcons>

<SkillIcons id="ai-productivity-skills" heading="AI & Productivity">
  <IconContainer name="Copilot">
    <Image class="h-9 w-auto" src={Copilot} alt="Copilot logo" />
  </IconContainer>
  <IconContainer name="ChatGPT">
    <Image class="h-9 w-auto" src={Chatgpt} alt="ChatGPT logo" />
  </IconContainer>
  <IconContainer name="Gemini">
    <Gemini size="size-9" />
  </IconContainer>
  <IconContainer name="Claude">
    <Image class="h-9 w-auto" src={Claude} alt="Claude logo" />
  </IconContainer>
  <IconContainer name="Notion">
    <Notion size="size-9" />
  </IconContainer>
  <IconContainer name="Figma">
    <Figma size="size-9" />
  </IconContainer>
  <IconContainer name="Miro">
    <Miro size="size-9" />
  </IconContainer>
  <IconContainer name="Stripe API">
    <Image class="h-9 w-auto" src={Stripe} alt="Stripe logo" />
  </IconContainer>
  <IconContainer name="HubSpot API">
    <Hubspot size="size-9" />
  </IconContainer>
  <IconContainer name="Slack API">
    <Slack size="size-9" />
  </IconContainer>
</SkillIcons>

<SkillIcons id="tools-skills" heading="Development tools">
  <IconContainer name="Git">
    <Git size="size-9" />
  </IconContainer>
  <IconContainer name="Docker">
    <Image class="h-9 w-auto" src={Docker} alt="Docker logo" />
  </IconContainer>
  <IconContainer name="Cursor">
    <Image class="h-9 w-auto" src={Cursor} alt="Cursor logo" />
  </IconContainer>
  <IconContainer name="VSCode">
    <Vscode size="size-9" />
  </IconContainer>
  <IconContainer name="IntelliJ">
    <Intellij size="size-9" />
  </IconContainer>
  <IconContainer name="RubyMine">
    <Rubymine size="size-9" />
  </IconContainer>
  <IconContainer name="iTerm">
    <ITerm size="size-9" />
  </IconContainer>
  <IconContainer name="DBeaver">
    <Image class="h-9 w-auto" src={Dbeaver} alt="DBeaver logo" />
  </IconContainer>
  <IconContainer name="Brave">
    <Image class="h-9 w-auto" src={Brave} alt="Brave logo" />
  </IconContainer>
  <IconContainer name="Vite">
    <Vite size="size-9" />
  </IconContainer>
  <IconContainer name="Prettier">
    <Prettier size="size-9" />
  </IconContainer>
  <IconContainer name="ESLint">
    <ESLint size="size-9" />
  </IconContainer>
  <IconContainer name="Biome">
    <Image class="h-9 w-auto" src={Biome} alt="Biome logo" />
  </IconContainer>
</SkillIcons>

<Heading data-as="h3" id="meetings-skills">Meetings & Processes</Heading>
<Carousel>
  <li>Stakeholder demos</li>
  <li>Code reviews</li>
  <li>1:1s</li>
  <li>Hiring engineers</li>
  <li>Technical design meetings</li>
  <li>Performance reviews</li>
  <li>Pair programming</li>
  <li>Ideation sessions</li>
  <li>RFC-like proposals</li>
  <li>Retrospectives</li>
  <li>Daily standup</li>
  <li>Office hours</li>
  <li>Grooming sessions</li>
  <li>Colleague mentoring</li>
</Carousel>
